#home-container > .link-item {
  margin: 20px;
  font-size: 90%;
  font-family: monospace;
}

#home-container #fullname {
  font-size: 100%;
  margin: 0 0 5px 0;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px 0 0 0;
}

#pic-and-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#pic-and-title h1{
  margin: 0;
}

#pic-and-title .profile-photo {
  width: 212px;
  height: 212px;
  flex-grow: 0;
  margin: 10px 0;

}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.contact-info div {
  padding: 2px 10px;
  margin: 0 0 0 12px;
  font-size: 90%;
}

.external-links {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0 0 0 20px;
}

.external-links div {
  border-radius: 4px;
  padding: 2px 10px;
  margin: 0 3px 0 0;
  text-decoration: none;
  list-style: none;
}

.small-info {
  font-size: 60%;
}

.job-detail {
  margin: 4px 0 4px 9px;
  font-size: 80%;
}

.project {
  display: flex;
}

.project .title {
  margin: 0 10px 0 0;
}

@media (max-width: 530px) {
  .top-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #pic-and-title {
    align-self: center;
  }

  .contact-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .contact-info div {
    padding: 2px 10px;
    margin: 0 0 0 12px;
    font-size: 80%;
  }

  .external-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 0 20px;
  }

  .external-links div {
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0 3px 0 0;
    text-decoration: none;
    list-style: none;
    font-size: 90%;
  }
}

