body {
  font-family: 'Space Mono', monospace;
  font-size: 110%;
  margin: 40px;
  background-color: white;
}

a {
  color: #559195;
  font-weight: bold;
}

@media (max-width: 760px) {
  body {
    font-size: 100%;
    margin: 20px;
  }

  #top-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
  }
}

#main-container {
}

#top-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
}

#top-container h1.title {
  font-size: 16px;
  margin: 0 10px 0 0;
}


