body {
  font-family: 'Space Mono', monospace;
  font-size: 110%;
  margin: 40px;
  background-color: white;
  color: #222;
}

h2 {
  color: #444;
}

a {
  color: #559195;
  font-weight: bold;
}

@media (max-width: 760px) {
  body {
    font-size: 130%;
    margin: 20px;
  }

  #top-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
  }

  #top-container h1.title, #top-container a {
    font-size: 70%;
    margin: 0 10px 0 0;
    font-weight: normal;
  }
}

#top-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
}

#top-container h1.title, #top-container a {
  font-size: 90%;
  margin: 0 10px 0 0;
  font-weight: normal;
}


