#home-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#home-container > .link-item {
  margin: 20px;
  font-size: 18px;
  font-family: monospace;
}

#pic-and-title {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
}

#pic-and-title h1{
  margin: 0;
}

#pic-and-title .profile-photo {
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

